/* Course.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
}

/* Banner Image */
.banner-container {
  position: relative;
  width: 100vw;
  height: 60vh;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(124, 166, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  color: white;
  font-size: 3rem;
}

/* Dropdown Styles */
.dropdown {
  margin: 20px;
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #31b9eb;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.dropbtn:hover {
  background-color: #29a1d8;
}

.arrow-down {
  margin-left: 10px;
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-content span:hover {
  background-color: #7ca6ff;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Course Card Styles */
.courses-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 20px;
}

.course-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 150px;
  object-fit: cover;
}

.course-body {
  padding: 15px;
  /* text-align: center; */
}

.course-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.rating {
  color: #e74c3c;
  margin-bottom: 10px;
}

.rating i {
  margin: 0 2px;
}

.course-price {
  font-size: 1rem;
  color: #2c3e50;
}

.course-price .text-danger {
  color: #e74c3c;
}

.buy-now-btn {
  background-color: #31b9eb;
  margin-top: 10px;
  color: white;
  padding: 10px;
}

.buy-now-btn:hover {
  background-color: #0056b3;
}
