  .admin-sidebar-content{
    margin: 20px 0;
  }
 .sidebar-link {
    display: block; /* Make the links take the full width */
    background: none;
    border: none;
    color: #facc15;
    cursor: pointer;
    text-align: center; /* Align text to the left */
    font-size: 22px;
    text-decoration: none;
    padding: 10px 0;
    transition: background 0.3s ease-in-out; 
  }
  
  .admin-sidebar .sidebar-link:hover {
    background-color: #34495e;
}