/* Navbar Styling */
.navbar {
  position: sticky;
  top: 0;
  background-color: white;  /* Set a background color */
  z-index: 1000;             /* Ensure it stays above other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  padding: 0 1rem;
}

/* Logo Styling */
.logo-img {
  width: 45px;
  margin: 10px;
}

/* Nav Links Styling */
.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: black;
  font-weight: bold;
  margin: 0 15px; /* Spacing between links */
  text-decoration: none;
  position: relative;
  padding: 5px 0; /* Vertical padding for hover effect */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff; /* Change to your desired hover color */
}

/* Active Link Underline Effect */
.nav-link.active::after,
.nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007bff; /* Adjust color for underline */
  transition: width 0.3s ease;
}

.nav-link::after {
  width: 0;
}

/* Dropdown Styling */
.nav-item.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 1;
  padding: 0;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block; /* Show dropdown on hover */
}

.dropdown-item {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #7CA6FF; /* Highlight color on hover */
  color: white;
}

/* Login Button Styling */
.login-button {
  background-color: #31B9EB;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #333;
}

/* Badge Styling */
.badge-notification {
  position: relative;
  top: -20px;
  right: 5px;
  font-size: 0.75rem;
  background-color: red;
  color: white;
  border-radius: 100%;
  padding: 5px;
}

.nav-item.cart-icon { 
  display: flex; 
  align-items: center; 
  margin-left: 20px; 
  position: relative; /* Added to position badge correctly */
}