.wrap {
    margin: 0 auto;
    max-width: 1024px;
    position: fixed;
    bottom: 0px;
  }
  .privacy-policy {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 20;
  }
  .privacy-policy .privacy-policy__wrap {
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
    bottom: 0;
    padding: 10px;
  }
  
  .privacy-policy__text {
    /* position: relative;   */
    text-align: center;
  }
  
  .text__link {
    color: white;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
  }
  
  .bg_grad {
    padding: 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to right, #183864, #0b97a8);
    color: #fff;
  }
  
  .text_got-it {
    background: white;
    border: none;
    padding: 0.4rem 2rem;
    border-radius: 1rem;
    color: #183864;
    font-weight: bold;
    margin-left: 2rem;
    font-family: "Roboto", sans-serif;
  }
  
  .text_got-it {
    cursor: pointer;
  }
  